th.sortable {
	color: blue;
  text-decoration: underline;
  cursor: pointer;
}


.superhidden {
	display: none;
}






.overlay {
  display: none; /* inizialmente nascosto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); /* overlay scuro */
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  text-align: center;
}

#chiudiPopup {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}